<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改IP白名单')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-white-edit" th:object="${gatewayIpWhite}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商户号：</label>
                <div class="col-sm-8">
                    <input name="merchantId" th:field="*{merchantId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">白名单IP：</label>
                <div class="col-sm-8">
                    <textarea name="ipAddress" class="form-control" required>[[*{ipAddress}]]</textarea>
                </div>
            </div>
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属系统：</label>
                <div class="col-sm-8">
                    <input name="system" th:field="*{system}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "gateway/white";
        $("#form-white-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-white-edit').serialize());
            }
        }
    </script>
</body>
</html>