<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('通知公告')" />

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>公告预览</title>
<body >
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li><a >主页</a></li>
            <li><a>应用</a></li>
            <li class="active"><strong>公告</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <input th:value="${notice.noticeId}" name="noticeId" id="noticeId" type="hidden">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h2 th:utext="${notice.noticeTitle}"></h2>
                    </div>
                    <div class="pull-right" >
                        作者:&nbsp;<span th:utext="${notice.createBy}"></span>&nbsp;&nbsp;
                        <span class="text-muted">
                            <i class="fa fa-clock-o"></i>
                            <span th:utext="${#dates.format(notice.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                        </span>
                    </div>
                    <br>
                    <hr>
                    <div th:utext="${notice.noticeContent}"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6"  th:with="type=${@dict.getType('sys_notice_type')}">
                            <h5>标签:</h5>
                            <button class="btn btn-primary btn-xs" type="button" th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:if="${notice.noticeType==dict.dictValue}"></button>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<script type="text/javascript">

</script>
</body>
</html>
