<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiranpay.gateway.mapper.GatewayIpWhiteMapper">
    
    <resultMap type="GatewayIpWhite" id="GatewayIpWhiteResult">
        <result property="id"    column="id"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="system"    column="system"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGatewayIpWhiteVo">
        select id, ip_address, merchant_id, system, create_by, create_time, update_by, update_time, remark from gateway_ip_white
    </sql>

    <select id="selectGatewayIpWhiteList" parameterType="GatewayIpWhite" resultMap="GatewayIpWhiteResult">
        <include refid="selectGatewayIpWhiteVo"/>
        <where>  
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="system != null  and system != ''"> and system = #{system}</if>
        </where>
    </select>
    
    <select id="selectGatewayIpWhiteById" parameterType="Long" resultMap="GatewayIpWhiteResult">
        <include refid="selectGatewayIpWhiteVo"/>
        where id = #{id}
    </select>
    <select id="selectGatewayIpWhiteByMerchantId" parameterType="String" resultMap="GatewayIpWhiteResult">
        <include refid="selectGatewayIpWhiteVo"/>
        where merchant_id = #{merchantId}
    </select>
        
    <insert id="insertGatewayIpWhite" parameterType="GatewayIpWhite" useGeneratedKeys="true" keyProperty="id">
        insert into gateway_ip_white
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null  and ipAddress != ''">ip_address,</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="system != null  and system != ''">system,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null  and ipAddress != ''">#{ipAddress},</if>
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="system != null  and system != ''">#{system},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGatewayIpWhite" parameterType="GatewayIpWhite">
        update gateway_ip_white
        <trim prefix="SET" suffixOverrides=",">
            <if test="ipAddress != null  and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="system != null  and system != ''">system = #{system},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGatewayIpWhiteById" parameterType="Long">
        delete from gateway_ip_white where id = #{id}
    </delete>

    <delete id="deleteGatewayIpWhiteByIds" parameterType="String">
        delete from gateway_ip_white where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>