<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiranpay.gateway.mapper.GatewaySecretKeyMapper">
    
    <resultMap type="GatewaySecretKey" id="GatewaySecretKeyResult">
        <result property="secretkeyId"    column="secretkey_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="publicKey"    column="public_key"    />
        <result property="signType"    column="sign_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGatewaySecretKeyVo">
        select secretkey_id, merchant_id, public_key, sign_type, create_by, create_time, update_by, update_time, remark from gateway_secret_key
    </sql>

    <select id="selectGatewaySecretKeyList" parameterType="GatewaySecretKey" resultMap="GatewaySecretKeyResult">
        <include refid="selectGatewaySecretKeyVo"/>
        <where>  
            <if test="merchantId != null  and merchantId != ''"> and merchant_id = #{merchantId}</if>
            <if test="publicKey != null  and publicKey != ''"> and public_key = #{publicKey}</if>
            <if test="signType != null  and signType != ''"> and sign_type = #{signType}</if>
        </where>
    </select>
    
    <select id="selectGatewaySecretKeyById" parameterType="Long" resultMap="GatewaySecretKeyResult">
        <include refid="selectGatewaySecretKeyVo"/>
        where secretkey_id = #{secretkeyId}
    </select>
        
    <insert id="insertGatewaySecretKey" parameterType="GatewaySecretKey" useGeneratedKeys="true" keyProperty="secretkeyId">
        insert into gateway_secret_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id,</if>
            <if test="publicKey != null  and publicKey != ''">public_key,</if>
            <if test="signType != null  and signType != ''">sign_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">#{merchantId},</if>
            <if test="publicKey != null  and publicKey != ''">#{publicKey},</if>
            <if test="signType != null  and signType != ''">#{signType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGatewaySecretKey" parameterType="GatewaySecretKey">
        update gateway_secret_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantId != null  and merchantId != ''">merchant_id = #{merchantId},</if>
            <if test="publicKey != null  and publicKey != ''">public_key = #{publicKey},</if>
            <if test="signType != null  and signType != ''">sign_type = #{signType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where secretkey_id = #{secretkeyId}
    </update>

    <delete id="deleteGatewaySecretKeyById" parameterType="Long">
        delete from gateway_secret_key where secretkey_id = #{secretkeyId}
    </delete>

    <delete id="deleteGatewaySecretKeyByIds" parameterType="String">
        delete from gateway_secret_key where secretkey_id in 
        <foreach item="secretkeyId" collection="array" open="(" separator="," close=")">
            #{secretkeyId}
        </foreach>
    </delete>
    
</mapper>