<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiranpay.gateway.mapper.GatewayProductApprovalMapper">
    
    <resultMap type="GatewayProductApproval" id="GatewayProductApprovalResult">
        <result property="id"    column="id"    />
        <result property="memberNo"    column="member_no"    />
        <result property="productCode"    column="product_code"    />
        <result property="productName"    column="product_name"    />
        <result property="reason"    column="reason"    />
        <result property="processstatus"    column="processStatus"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGatewayProductApprovalVo">
        select id, member_no, product_code, product_name, reason, processStatus, create_by, create_time, update_by, update_time, remark from gateway_product_approval
    </sql>

    <select id="selectGatewayProductApprovalList" parameterType="GatewayProductApproval" resultMap="GatewayProductApprovalResult">
        <include refid="selectGatewayProductApprovalVo"/>
        <where>  
            <if test="memberNo != null  and memberNo != ''"> and member_no = #{memberNo}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="processstatus != null "> and processStatus = #{processstatus}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectGatewayProductApprovalById" parameterType="Long" resultMap="GatewayProductApprovalResult">
        <include refid="selectGatewayProductApprovalVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGatewayProductApproval" parameterType="GatewayProductApproval" useGeneratedKeys="true" keyProperty="id">
        insert into gateway_product_approval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberNo != null  and memberNo != ''">member_no,</if>
            <if test="productCode != null  and productCode != ''">product_code,</if>
            <if test="productName != null  and productName != ''">product_name,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="processstatus != null ">processStatus,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberNo != null  and memberNo != ''">#{memberNo},</if>
            <if test="productCode != null  and productCode != ''">#{productCode},</if>
            <if test="productName != null  and productName != ''">#{productName},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="processstatus != null ">#{processstatus},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGatewayProductApproval" parameterType="GatewayProductApproval">
        update gateway_product_approval
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberNo != null  and memberNo != ''">member_no = #{memberNo},</if>
            <if test="productCode != null  and productCode != ''">product_code = #{productCode},</if>
            <if test="productName != null  and productName != ''">product_name = #{productName},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="processstatus != null ">processStatus = #{processstatus},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGatewayProductApprovalById" parameterType="Long">
        delete from gateway_product_approval where id = #{id}
    </delete>

    <delete id="deleteGatewayProductApprovalByIds" parameterType="String">
        delete from gateway_product_approval where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>