<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('通知公告列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="notice-form">
					<div class="select-list">
						<ul>
							<li>
								公告标题：<input type="text" name="noticeTitle"/>
							</li>
							<li>
								操作人员：<input type="text" name="createBy"/>
							</li>
							<li>
								公告类型：<select name="noticeType" th:with="type=${@dict.getType('sys_notice_type')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">

	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
		var types = [[${@dict.getType('sys_notice_type')}]];
		var datas = [[${@dict.getType('sys_notice_status')}]];
		var reads = [[${@dict.getType('system_notice_read_status')}]];

        var prefix = ctx + "system/notice";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "公告",
                columns: [

				{
					field : 'noticeTitle', 
					title : '公告标题' ,
					formatter: function (value, row, index){
						return '<a href=" javascript:void(0)" onclick="read('+row.noticeId+')">'+row.noticeTitle+'</ a>';
					}
				},
					{
						field : 'noticeRead.checkUp',
						title : '是否读取',
						formatter: function (value, row, index){
							return $.table.selectDictLabel(reads, value);
						}

					},
					{
						field: 'noticeType',
						title: '公告类型',
						align: 'center',
						formatter: function(value, row, index) {
							return $.table.selectDictLabel(types, value);
						}
					},
				{
		            field: 'createTime',
		            title: '发布时间',
		            sortable: true
		        }
		        ]
            };
            $.table.init(options);
        });
        
        function read(noticeId) {
			var url = prefix+'/read/' + noticeId;

			$.modal.openTab("公告", url);
		}


    </script>
</body>
</html>